version: '3.8'

services:
  landing-page:
    image: imagesnexaconnect/landing-page:latest
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    restart: always
    healthcheck:
      test: ["CMD", "wget", "-q", "--spider", "http://localhost:5173"]
      interval: 30s
      timeout: 10s
      retries: 3
